[Unit]
Description=Badge Tracker Web App

[Service]
User=$(whoami)
Group=$(whoami)
WorkingDirectory=/var/www/badge_tracker
Environment=PATH=/home/$(whoami)/.rbenv/shims:/home/$(whoami)/.rbenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games
ExecStart=/var/www/badge_tracker/bin/rails s -e production -p 3000
Restart=on-failure

[Install]
WantedBy=multi-user.target