[Unit]
Description=Badge Tracker Web App

[Service]
Type=simple
User=badge_tracker
Group=badge_tracker
WorkingDirectory=/var/www/badge_tracker
Environment=PATH=/home/badge_tracker/.rbenv/shims:/home/badge_tracker/.rbenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games
ExecStart=/var/www/badge_tracker/bin/rails server -e production --port 3000
Restart=on-failure

[Install]
WantedBy=multi-user.target