<div class="container-fluid">
    <h1 class="ms-2">Earned Badges</h1>
    <ul class="list-group list-group-horizontal d-inline-flex">
        <% @user.earned_badges.each do |badge| %>
            <%= render "shared/badge_list_item", badge: badge %>
        <% end %>
    </ul>
    <h2 class="ms-2 mt-3">Earn these next!</h2>
    <ul class="list-group list-group-horizontal d-inline-flex">
        <% @user.eligible_badges.each do |badge| %>
            <%= render "shared/badge_list_item", badge: badge %>
        <% end %>
    </ul>
</div>