<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Badge Tracker</a>
    <% if !!current_user %>
      <%= link_to current_user.name, url_for(current_user), class: "nav-link me-auto" %>
      <div class="navbar-nav">
        <%= button_to "Log Out", session_url, method: :delete, class: "nav-link" %>
      </div>
    <% else %>
      <% if request.fullpath == "/session/new" || request.fullpath == "/session" %>
        <div class="navbar-nav">
          <%= link_to "Sign Up", new_user_url, class: "nav-link" %>
        </div>
      <% else %>
        <div class="navbar-nav">
          <%= link_to "Log In", new_session_url, class: "nav-link" %>
        </div>
      <% end %>
    <% end %>
  </div>
</nav>
